

.products-cart {
    max-width: 1688px;
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin: 29px auto;
    color: white;
}

.table-titles {
    padding-top: 73px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

.table-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    font-size: 19.5px;
}

.table-cart img {
    background-color: var(--tertiary-color);
    width: 150px;
    height: 150px;
    border-radius: 2rem;
}

.table-cart td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
   margin-right: 7rem;
}

.table-cart p {
    max-width: 200px;
}

.table-cart td button {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.section-total {
    padding: 56px 138px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    font-size: 19.5px;
    background-color: #F0F0F0;
    border-bottom-right-radius: 2rem;
     border-bottom-left-radius: 2rem;

}

.section-total h2 {
    font-size: 36.3px;
}

.section-total label, .section-total p {
    font-size: 21.66px;
}

.delivery-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
}

.total-purchase {
    width: 335px;
}

.total-default {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.total-btn{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    color: white;
    font-size: 28px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: .3s;

}

.total-btn:hover {
    background-image: none;
    color: var(--primary-color);
    transition: .3s;
}