.header {
    background-color: white;
    margin-inline: 281px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 57px;
    padding: .5rem;
    box-shadow: 0 0 50px -20px var(--secondary-color);
}

.header a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 42px;
}

.navbar-center {
    display: flex;
    gap: 2rem;
   
}

.navbar-center a {
    transition: .3s;
}

.navbar-center a:hover {
    text-decoration: underline;
    color: var(--primary-color);
     transition: .3s;
}

.navbar-cart a{
    color: white;
    background-image: linear-gradient(to right, var(--secondary-color), var(--quaternary-color));
    border: none;
    padding: .5rem 1rem;
     border-radius: 54px;
     transition: .3s;
      border: 2px solid var(--secondary-color);
}

.navbar-cart a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    background-image: none;
    background-color: #f0f0f0;
    transition: .3s;
}

.navbar img {
    width: 75px;
    height: 42px;
}