
.products-img img {
    width: 100%;
    height: 100%;
}

.products-img {
    width: 250px;
    height: 297px;

}



.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6.94rem;
    justify-content: center;
    max-width: 1375px;
    margin: 128px auto;
}

.products {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: bold;
    background-color: var(--tertiary-color);
    border-radius: 2rem;
    font-size: 2rem;
    align-items: center;
    position: relative;
    transition: .5s;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 1);
    text-align: center;
    position: relative;
    cursor: pointer;
    flex-wrap: wrap;
}


.products:hover {
   transform: scale(1.05);
   transition: .5s;
}

.products-btn {
    width: 68px;
    height: 54px;
    border-radius: 27px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 50px;
    right: -41px;
    box-shadow: 0 0 1px 4px white;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}




/* 
.products a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products p  {
    max-width: 300px;
    margin-top: 1.5rem;
}

.products a {
    text-decoration: none;
    color: black;
    text-align: center;
} */

/* 
.products-info {
    display: flex;
    gap: 3rem;
    align-items: end;
    padding: 1rem;
    height: 100%;
}

.products-btn img {
    width: 20px;
}

.products-btn {
    background-color: var(--tertiary-color);
    border: none;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s;
}

.products-btn:hover {
    background-color: var(--primary-color);
    color: white;
    transition: .5s;
} */